<md-toolbar class="md-toolbar-tools">
     <div>
         Bloc Chat
     </div>
</md-toolbar>  
<section layout="row" flex>
     <md-content flex layout="row">
        <md-sidenav md-is-locked-open="true" layout="column">
             <md-toolbar class="md-toolbar-tools md-hue-2" ng-controller="AddRoomCtrl">
                 <span>Chat Rooms</span>
                 <span flex></span>
                 <md-button class="md-primary md-raised" ng-click="showPrompt($event)"  >
                    Add Room
                 </md-button>
            </md-toolbar>
               <md-list>
                  <md-list-item class="md-3-line" ng-repeat="room in rooms.allRooms">
                    <div class="md-list-item-text">
                      <p><a ui-sref="home.messages({roomId: room.$id, roomName: room.name})" layout="column">{{ room.name }}</a></p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                  </md-list-item>
                </md-list>
        </md-sidenav>
        <md-content layout="column" flex layout-fill>
            <ui-view></ui-view>
        </md-content>
    </md-content>
</section>
